
/* import fonts from fonts.css file*/
@font-face{
    font-family: "Roboto";
    src: '../fonts/Roboto/Roboto-Regular.ttf';
}
/* CSS Variable */
/* @import url(./partials/_variables.css); */


html,body{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body{
    background: url(../img/body-bg.png);
}

/* CSS variables */

:root{
    --primary-color:#4458dc;
    --primary-color2:#854fee;
    --title-color:#141313;
    --text-color:#777777;
    --border-color:#201f1f17;
    --gradient-color:linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    --shadow-color:0px 10px 30px rgba(118,85,225,0.3);
    --box-shadow:0px 10px 30px rgba(57,56,61,0.205);

    /* font family variables.*/
    --roboto:"Open Sans",cursive;
}

/* CSS Global */
/* @import url(./partials/_global.css); */

.title-text{
    font:normal bold 50px/72px var(--roboto);
}

.text-uppercase{
    text-transform: uppercase;
}

/* button */

.button{
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--roboto);
    position: relative ;
    border : 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.button.primary-button::after{
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: var(--gradient-color);
    content: '';
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}
.button.secondary-button:hover{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.button.secondary-button::after{
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: var(--gradient-color);
    content: '';
    z-index: -1;
    border-radius: 4px;
}

/* Paragraph */

p.para{
    color: var(--text-color);
    font : normal 500 16px/25px var(--roboto);
}

/* Fixed navbar */

.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0;
    right: 0;
    background: #FFF;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}

/* CSS Global End */

/*Start Navigation*/

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 1rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link{
    font : no 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color:var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background : var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav  a:hover{
    background : var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}



/*End Navigation*/


/* Start Banner Area */
.site-main .banner-image img{
    width: 85%;
    height: auto;
    border-radius: 30%;
}

@media only screen and (max-width: 340px){
    .site-main .banner-image img{
        width: 100%;
        height: 100%;
        border-radius: 30%;
    }
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img{
    padding: 7rem 0;
}
/* End Banner Area */

/* Start About Area */

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-image{
    padding-top: 60px;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font : normal bold 49px/60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > para{
    padding: .4rem 0;
}

/* End About Area */

/* Start Skill Area */

.site-main .skill-area{
    padding-top: 55px;
}


.site-main .skill-area h1::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 3%;
    transform: translateY(-10px);
}

.site-main .skill-area .skill-bar{
    padding: 2rem;
}


@keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }

  .site-main .skill-area .bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }

  .site-main .skill-area .bar::before{
    content:  attr(data-skill);
    background: var(--gradient-color);
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }

  .site-main .skill-area .skill-bar .learning::before{
      width: calc(20% - 10px);
  }

  .site-main .skill-area .skill-bar .basic::before{
    width: calc(40% - 10px);
}

.site-main .skill-area .skill-bar .intermediate::before{
    width: calc(60% - 10px);
}

.site-main .skill-area .skill-bar .advanced::before{
    width: calc(80% - 10px);
}

.site-main .skill-area .skill-bar .expert::before{
    width: calc(100% - 10px);
}

.site-main .skill-area .skill-img{
    border-radius: 50%;
}

/* End Skill Area */


/*Start Contact Area*/

.site-main .contact-area{
    padding: 8rem 2rem;
}

.site-main .contact-area .contact-img{
    padding: 4rem 2rem;
}

.site-main .contact-area .contact-details .contact-title{
    font : normal bold 49px/60px var(--roboto);
    letter-spacing: 21px;
}
.site-main .contact-area .contact-details .contact-container > span{
    display: block;
}

.site-main .contact-area .contact-details .contact-container{
    padding-top: 2rem;
}

.site-main .contact-area .contact-details .contact-data{
    font: normal bold 20px var(--roboto);
    padding-top: 1rem;
}

.site-main .contact-area .contact-details .contact-value{
    color: var(--text-color);
    font : normal 500 16px/25px var(--roboto);
}

.site-main .contact-area .contact-details .contact-container .contact-value a{
    text-decoration: none;
    color: var(--text-color);
}

.site-main .contact-area .contact-details .contact-container .contact-value a:hover{
    background : var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/*End Contact Area*/


/* Start Footer Area*/

.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat
}

.footer-area .social a > i{
    font-size: 22px; 
    padding: 2rem; 
    color: var(--border-color); 
}

.footer-area .social a:hover > i{
    color: var(--primary-color); 
}
/* End Footer Area*/
